.nav-font-color {
    color: white !important;
}

.show-toggle-menu {
    display: block !important;
}

.selected {
    background-color: lightgray;
}

section {
    min-height: calc(100vh - 3.7em);
}

.receipe-list{
    height: calc(100vh - 15.4em);    
    overflow-y: auto;
}

.receipe-details {
    height:  calc(100vh - 10.4em);   
    overflow-y: auto;
}


.custom-font{
    font-weight: bold;
    text-decoration: underline;
}
