.nav-font-color {
    color: white !important;
}

.show-toggle-menu {
    display: block !important;
}

.selected {
    background-color: lightgray;
}

section {
    min-height: calc(100vh - 3.7em);
}

mat-list {
    min-height: calc(100vh - 12.7em);
}

mat-card-content {
    height: calc(100vh - 11.2em);
    min-height: calc(100vh - 11.2em);
    overflow-y: auto;
}


.custom-font{
    font-weight: bold;
    text-decoration: underline;
}
