<nav class="navbar bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <a [routerLink]="['/recipe-view']" class="navbar-brand nav-font-color app-title">Online Recipe Sharing
            Platform</a>
        <div class="d-flex align-items-center">
            <div class="dropdown nav-font-color">
                <a class="nav-link dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="assets/avatar.jpg" class="rounded-circle" height="25"
                        alt="Black and White Portrait of a Man" loading="lazy" /></a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>



<section style="background-color: black;">
    <app-app-spinner [loading]="loading"></app-app-spinner>
    <div class="container-fluid pt-2">
        <div class="row">


            <div class="col-md-4">
                <mat-card id="recipe-list-scroll-to-top">
                    <mat-card-header>
                        <div class="row" style="border-bottom: 1px solid black;">
                            <div class="col-md-4">
                                <h3>Recipes Lists</h3>
                            </div>
                            <div class="col-md-2">
                                <button matTooltip="Add Recipe" mat-raised-button (click)="addRecipe()"><mat-icon>add</mat-icon></button>
                            </div>
                            <div class="col-md-2">
                                <button matTooltip="Filter Recipe" mat-button [matMenuTriggerFor]="menu"><mat-icon>filter_list</mat-icon></button>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field class="col-md-12">
                                    <mat-label>Search</mat-label>
                                    <input matInput (keyup)="searchRecipe($event)" placeholder="Type to search recipe">
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-header>
                    <mat-card-content class="receipe-list">
                        <mat-list>
                            <mat-list-item *ngFor="let recipe of filteredRecipeList" (click)="selectRecipe(recipe)"
                                [class.selected]="selectedRecipe === recipe" style="color:black">
                                {{ recipe.name }}
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-8 details-container" id="recipe-details-scroll-to-bottom">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title *ngIf="selectedRecipe===null">No Data</mat-card-title>
                        <mat-card-title class="mat-title-align-left"
                            *ngIf="selectedRecipe!==null">{{selectedRecipe.name}}</mat-card-title>
                        <mat-card-title class="mat-title-align-right" *ngIf="selectedRecipe!==null && isMobile">
                            <div matTooltip="Scroll to Top" (click)="scrollToView('recipe-list-scroll-to-top')">
                                <mat-icon>keyboard_arrow_up</mat-icon>
                            </div>
                        </mat-card-title>


                        <mat-card-subtitle>
                            <div class="row d-flex" *ngIf="selectedRecipe!==null">
                                <img *ngIf="!selectedRecipe?.nonVeg" src="assets/veg.png" alt="Vegetarian"
                                    style="height: 25px;width: 50px;">
                                <img *ngIf="selectedRecipe?.nonVeg" src="assets/non veg.png" alt="Non-Vegetarian"
                                    style="height: 25px;width: 50px;">
                                {{selectedRecipe.type}}
                            </div>
                        </mat-card-subtitle>


                    </mat-card-header>
                    <mat-card-content *ngIf="selectedRecipe!==null" class="row d-flex receipe-details">
                        <div class="col-md-6">
                            <h3 class="custom-font">Ingredients: </h3>
                            <span style="white-space:pre-wrap;">{{selectedRecipe.ingredients}}</span>
                        </div>
                        <div class="col-md-6">
                            <h3 class="custom-font">Steps: </h3>
                            <span style="white-space:pre-wrap;">{{selectedRecipe.steps}}</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>

<mat-menu #menu="matMenu">
    <div *ngFor="let btn of recipeOptions" mat-menu-item>
        <mat-radio-button value="filterRecipe" [checked]="filterRecipe === btn" (click)="filterRecipes(btn)">
            {{btn}}</mat-radio-button>
    </div>
</mat-menu>