<h2 mat-dialog-title>Application Information</h2>
<mat-dialog-content class="mat-typography">    
    <p>Developed by Ashok Kuduva Ananthan</p>    
    <a class="app-icons" style="color: #0A66C2;" href="https://www.linkedin.com/in/ashok-kuduva-ananthan-0a2b84121/"><i class="fa-brands fa-linkedin"></i></a>
    <a class="app-icons" style="color: #333;" href="https://github.com/kaashok"><i class="fa-brands fa-github"></i></a>
    <a class="app-icons" style="color: #333;" href="https://ashokkuduvaananthan.hashnode.dev/"><i class="fa-brands fa-hashnode" style="color: #2962ff;"></i></a>
    <div class="d-flex copy-right"><mat-icon>copyright</mat-icon><span>2023</span></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Ok</button>
</mat-dialog-actions>