<section class="vh-100" style="background-color: cornsilk;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <mat-card class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="assets/pizza-g90dd29d34_1920.jpg" alt="signup form" class="img-fluid"
                                style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5">

                                <form [formGroup]="signUpForm" (ngSubmit)="signUp()" autocomplete="off">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <span class="h3 fw-bold mb-0">Register your account</span>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="col-md-10 col-12">
                                            <mat-label> Name: </mat-label>
                                            <input matInput type="text" formControlName="name">
                                        </mat-form-field>
                                        <mat-error
                                            *ngIf="getControl('name')?.touched && getControl('name')?.errors?.['required']">
                                            Email Id is required
                                        </mat-error>                                        
                                    </div>


                                    <div class="form-group">
                                        <mat-form-field class="col-md-10 col-12">
                                            <mat-label> Email ID: </mat-label>
                                            <input matInput type="text" formControlName="emailId">
                                        </mat-form-field>
                                        <mat-error
                                            *ngIf="getControl('emailId')?.touched && getControl('emailId')?.errors?.['required']">
                                            Email Id is required
                                        </mat-error>
                                        <mat-error
                                            *ngIf="getControl('emailId')?.touched && getControl('emailId')?.errors?.['email']">
                                            Invalid email Id
                                        </mat-error>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="col-md-10 col-12">
                                            <mat-label> Password: </mat-label>
                                            <input matInput type="password" formControlName="password">
                                            <mat-error
                                                *ngIf="getControl('password')?.touched && getControl('password')?.errors?.['required']">
                                                Password is required
                                            </mat-error>
                                            <mat-error
                                                *ngIf="getControl('password')?.touched && getControl('password')?.errors?.['minlength']!=null">
                                                Password Should have 8 characters
                                            </mat-error>
                                            
                                        </mat-form-field>                                      
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="col-md-10 col-12">
                                            <mat-label> Confirm Password: </mat-label>
                                            <input matInput type="password" formControlName="confirmPassword">
                                            <mat-error
                                                *ngIf="getControl('confirmPassword')?.touched && getControl('confirmPassword')?.errors?.['required']">
                                                Confirm Password is required
                                            </mat-error>
                                            <mat-error
                                                *ngIf="getControl('confirmPassword')?.touched && getControl('confirmPassword')?.errors?.['misMatch']">
                                                Password & Confirm Password is not matching
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <button mat-raised-button type="submit"
                                        [disabled]="!signUpForm.valid">Signup</button>

                                    <p class="mb-5 pt-3 pb-lg-2">If you have an account?
                                        <a [routerLink]="['/login']" style="color: black;">Login here</a>
                                    </p>

                                </form>

                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</section>