.nav-font-color {
    color: white !important;
}

.show-toggle-menu {
    display: block !important;
}

.selected {
    background-color: lightgray;
}

section {
    min-height: calc(100vh - 3.3em);
}

.receipe-list {
    height: calc(100vh - 15.1em);
    overflow-y: auto;
}

.receipe-details {
    height: calc(100vh - 10.4em);
    overflow-y: auto;
}

.custom-font {
    font-weight: bold;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .app-title {
        font-size: 19px;
    }

    .details-container {
        padding-top: 15px;
    }
}

.mat-title-align-left {
    display: inline;
}

.mat-title-align-right {
    display: inline;
    float: right;
}

.details-container {
    ::ng-deep {
        .mat-mdc-card-header-text {
            width: 100% !important;
        }
    }
}

.tool-bar-buttons{    
    padding-right: 25px;
}